html{
    font-size: 1em;
}
body{
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px auto;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
}
nav{
    width: 92%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    align-items: center;
}
nav a{
    color: black;
    text-decoration: none;
    padding: 2%;
    font-size: 1em;
}

#Home{
    align-items: left;
    margin-right: 15%;
}

.gridMain{
    max-width: 960px;
    width: 90%;
    margin: auto;
    margin-top: 10%;
}
.grid{
    margin-bottom: 5%;
}
img{
    border-radius: 7px;
    width: 100%;
}
h1{
    font-size: 2em;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}

.button-container {
    display: inline-block; /* Make it behave like a button */
    text-align: left; 
    font-size: 0.5em;
    font-weight: 300;
    padding: 3px 3px;
    margin: 0;
    background-color: #ff4d4d;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer; /* Add pointer to show it's clickable */
}
.button-container:hover {
    background-color: #e63e3e;
}

.teaser{
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: 700;
}

.circle-wrapper {
    display: flex;
    align-items: center;
}
.circle-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 10%;
    grid-row-gap: 10%;
}
.rank{
    margin-right: 0.5vw;
    font-size: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
}
.circle-yes,
.circle-no{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
}
.circle-no{
    background-color: grey;
}

/* reviews */
.imgRecs{
    width: 100%;
    margin: auto;
    display: block;
    justify-content: center;
    margin-bottom: 2%;
}
.gridMain1{
    width: 90%;
    margin: auto;
    margin-top: 10%;
  }
.h1T{
    font-size: 1.5em;
    margin-top: 1%;
}
.h1P{
    font-size: 1.5em;
}
.italic{
    font-size: 0.7em;
    font-style: italic !important;
}
.Recs{
    font-size: 1em;
}
.project{
    width: 90%;
    margin: auto;
    margin-top: 10%;
}
.guest{
    font-size: 1em;
}

@media screen and (min-width: 600px) {
    nav a{
        font-size: 1.5em;
    }
    .gridMain{
        max-width: none;
        width: 50%;
        margin-top: 6%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3%;
    }
    .grid{
        margin-bottom: 10%;
    }
    .button-container { 
        margin-top: 2%;
        font-size: 0.9em;
    }
    .teaser{
        margin-top: 2%;
        margin-bottom: 2%;
        font-weight: 700;
        font-size: 2em;
    }
    .circle-container{
        grid-column-gap: 15%;
        grid-row-gap: 15%;
    }
    .rank{
        margin-right: 0.2vw;
        font-size: 0.8em;
        margin-top: auto;
        margin-bottom: auto;
    }
    .circle-yes,
    .circle-no{
        width: 8px;
        height: 8px;
    }
    .circle-no{
        background-color: grey;
    }
    nav{
        width: 51%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .gridMain1{
        width: 50%;
        margin-top: 6%;
    }
    .project{
        width: 50%;
        margin: auto;
        margin-top: 5%;
    }
}
